<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--  Database connection settings  -->
        <property name="hibernate.connection.driver_class">org.firebirdsql.jdbc.FBDriver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.FirebirdDialect</property>
		<property name="hibernate.connection.datasource">java:comp/env/jdbc/dbAlterTestConn</property>
        <!--  Echo all executed SQL to stdout  -->
        <property name="show_sql">false</property>
        <!--  Drop and re-create the database schema on startup  -->
        <!-- <property name="hbm2ddl.auto">create-drop</property> -->
        <mapping class="biz.dealnote.web.beans.Client"/>
        <mapping class="biz.dealnote.web.beans.Agent"/>
        <mapping class="biz.dealnote.web.beans.Location"/> 
    </session-factory>

</hibernate-configuration>